<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Covid-19</title>

    <!--Bootstrap-->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="estilo.css" rel="stylesheet">

</head>

<body>
    
<nav class="navbar navbar-inverse">
    <div class="container">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">alternar navegação</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">Covid-19</a>

      </div>

      <div class="navbar collapse navbar-collapse">
          <ul class="nav navbar-nav"></ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/add">Add Pedido</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
  
  <form method="POST" action="/edit/:id">
    <label for="Utente">Utente:</label><br>
    <input type="text" id="utente" name="utente" value=<?= pedido.utente ?>><br>
    <label for="Estado">Estado:</label><br>
    <input type="text" id="estado" name="estado">
    <br>
    <label for="Notas">Notas:</label><br>
    <input type="text" id="notas" name="notas">
    <br>
    <label for="Resultado">Resultado:</label><br>
    <input type="text" id="resultado" name="resultado">
    <br>
    <br>
    <input type="submit" name="submit" id="submit" value="Submeter Pedido">
  </form>
  </div>

  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/jquery/dist/js/bootstrap.js"></script>
  <script src="/js/main.js"></script>

</body>
</html>

